.facilities {

    position: relative;
    padding-top: rem(110);
    padding-bottom: rem(55);
    background-color: $primary;

    &::before {

        content: '';
        position: absolute;
        background-color: $primary;
        height: rem(200);
        width: 100%;
        top: rem(-100);
        left: 0;
        transform: skew(0deg, -10deg);
        z-index: -1;

        @include breakpoint(tablet) {

            transform: skew(0deg, -4deg);

        }

    }

    &::after {

        content: '';
        position: absolute;
        background-color: $primary;
        height: rem(200);
        width: 100%;
        bottom: rem(-100);
        left: 0;
        transform: skew(0deg, -10deg);
        z-index: 1;
    
        @include breakpoint(desktop) {
    
            transform: skew(0deg, -4deg);
 
        }

    }

    &-header {

        position: relative;
        z-index: 4;

    }

    &-bullets {

        position: relative;
        z-index: 2;

    }

}